.svg-arrow-up-down-dims {
	width: 32px;
	height: 32.05px;
}

.svg-arrow_back-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2down-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2down_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2dwnn_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2left-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2left_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2left_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2right-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2right_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2right_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2up-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2up_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-2up_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-down-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-down_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-down_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-left-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-left_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-left_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-right-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-right_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-right_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-up-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot-up_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_carrot_up_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_condense-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_condense_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_down-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_down_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_expand-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_expand_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_expand_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_expand_alt3-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_left-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_left-down-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_left-down_alt-dims {
	width: 32.93px;
	height: 32.93px;
}

.svg-arrow_left-right-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_left-right_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_left-up-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_left-up_alt-dims {
	width: 32.93px;
	height: 32.93px;
}

.svg-arrow_left_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_move-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_right-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_right-down-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_right-down_alt-dims {
	width: 32.93px;
	height: 32.93px;
}

.svg-arrow_right-up-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_right-up_alt-dims {
	width: 32.93px;
	height: 32.93px;
}

.svg-arrow_right_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-down-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-down_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-down_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-left-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-left_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-left_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-right-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-right_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-right_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-up-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-up_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_triangle-up_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_up-dims {
	width: 32px;
	height: 32px;
}

.svg-arrow_up-down_alt-dims {
	width: 32px;
	height: 32.002px;
}

.svg-arrow_up_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-comp-dims {
	width: 38px;
	height: 33px;
}

.svg-icon_adjust-horiz-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_adjust-vert-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_archive-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_archive_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_bag-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_bag_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_balance-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_blocked-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_book-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_book_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_box-checked-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_box-empty-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_box-selected-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_briefcase-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_briefcase_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_building-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_building_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_calculator_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_calendar-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_calulator-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_camera-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_camera_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cart-dims {
	width: 32.402px;
	height: 32px;
}

.svg-icon_cart_alt-dims {
	width: 32.402px;
	height: 32px;
}

.svg-icon_chat-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_chat_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_check-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_check_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_check_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_circle-empty-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_circle-slelected-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_clipboard-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_clock-dims {
	width: 32.782px;
	height: 32.782px;
}

.svg-icon_clock_alt-dims {
	width: 32.784px;
	height: 32px;
}

.svg-icon_close-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_close_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_close_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cloud-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cloud-download-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cloud-download_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cloud-upload-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cloud-upload_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cloud_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cog-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cogs-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_comment-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_comment_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_compass-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_compass_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cone-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cone_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_contacts-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_contacts_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_creditcard-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_currency-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_currency_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_cursor-dims {
	width: 32px;
	height: 32.36px;
}

.svg-icon_cursor_alt-dims {
	width: 32px;
	height: 32.36px;
}

.svg-icon_datareport-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_datareport_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_desktop-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_dislike-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_dislike_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_document-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_document_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_documents-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_documents_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_download-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_drawer-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_drawer_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_drive-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_drive_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_easel-dims {
	width: 32px;
	height: 32.112px;
}

.svg-icon_easel_alt-dims {
	width: 32px;
	height: 32.112px;
}

.svg-icon_error-circle-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_error-circle_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_error-oct-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_error-oct_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_error-triangle-dims {
	width: 32.002px;
	height: 32px;
}

.svg-icon_error-triangle_alt-dims {
	width: 32.002px;
	height: 32px;
}

.svg-icon_film-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_floppy-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_floppy_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_flowchart-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_flowchart_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder-add-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder-add_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder-alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder-open-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder-open_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder_download-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_folder_upload-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_genius-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_gift-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_gift_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_globe-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_globe-2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_globe_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_grid-2x2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_grid-3x3-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_group-dims {
	width: 32px;
	height: 33.228px;
}

.svg-icon_headphones-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_heart-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_heart_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_hourglass-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_house-dims {
	width: 32.236px;
	height: 32px;
}

.svg-icon_house_alt-dims {
	width: 32.25px;
	height: 32px;
}

.svg-icon_id-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_id-2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_id-2_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_id_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_image-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_images-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_info-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_info_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_key-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_key_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_laptop-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_lifesaver-dims {
	width: 35.124px;
	height: 32px;
}

.svg-icon_lightbulb-dims {
	width: 32px;
	height: 32.064px;
}

.svg-icon_lightbulb_alt-dims {
	width: 32px;
	height: 32.062px;
}

.svg-icon_like-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_like_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_link-dims {
	width: 32.07px;
	height: 33.58px;
}

.svg-icon_link_alt-dims {
	width: 32px;
	height: 32.816px;
}

.svg-icon_loading-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_lock-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_lock-open-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_lock-open_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_lock_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_mail-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_mail_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_map-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_map_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_menu-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_menu-circle_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_menu-circle_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_menu-square_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_menu-square_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_mic-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_mic_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_minus-06-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_minus-box-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_minus_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_minus_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_mobile-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_mug-dims {
	width: 32.022px;
	height: 32px;
}

.svg-icon_mug_alt-dims {
	width: 32.022px;
	height: 32px;
}

.svg-icon_music-dims {
	width: 32px;
	height: 32.77px;
}

.svg-icon_ol-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_paperclip-dims {
	width: 33.148px;
	height: 33.004px;
}

.svg-icon_pause-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pause_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pause_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pencil-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pencil-edit-dims {
	width: 32.248px;
	height: 32.248px;
}

.svg-icon_pencil-edit_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pencil_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pens-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pens_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_percent-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_percent_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_phone-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_piechart-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pin-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_pin_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_plus-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_plus-box-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_plus_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_plus_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_printer-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_printer-alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_profile-dims {
	width: 32px;
	height: 33.762px;
}

.svg-icon_pushpin-dims {
	width: 32px;
	height: 32.828px;
}

.svg-icon_pushpin_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_puzzle-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_puzzle_alt-dims {
	width: 32px;
	height: 32.058px;
}

.svg-icon_question-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_question_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_question_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_quotations-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_quotations_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_quotations_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_refresh-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_ribbon-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_ribbon_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_rook-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_search-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_search2-dims {
	width: 32.248px;
	height: 32.248px;
}

.svg-icon_search_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_shield-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_shield_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_star-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_star-half-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_star-half_alt-dims {
	width: 32.238px;
	height: 32px;
}

.svg-icon_star_alt-dims {
	width: 32.236px;
	height: 32px;
}

.svg-icon_stop-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_stop_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_stop_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_table-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_tablet-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_tag-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_tag_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_tags-dims {
	width: 32px;
	height: 32.014px;
}

.svg-icon_tags_alt-dims {
	width: 32px;
	height: 32.012px;
}

.svg-icon_target-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_tool-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_toolbox-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_toolbox_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_tools-dims {
	width: 32.324px;
	height: 32.03px;
}

.svg-icon_trash-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_trash_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_ul-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_upload-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_vol-mute-dims {
	width: 32.12px;
	height: 32.054px;
}

.svg-icon_vol-mute_alt-dims {
	width: 32.12px;
	height: 32px;
}

.svg-icon_volume-high-dims {
	width: 32px;
	height: 32.054px;
}

.svg-icon_volume-high_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_volume-low-dims {
	width: 32px;
	height: 32.054px;
}

.svg-icon_volume-low_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_wallet-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_wallet_alt-dims {
	width: 32px;
	height: 32px;
}

.svg-icon_zoom-in-dims {
	width: 32.134px;
	height: 32.134px;
}

.svg-icon_zoom-in_alt-dims {
	width: 32.134px;
	height: 32.134px;
}

.svg-icon_zoom-out-dims {
	width: 32.134px;
	height: 32.134px;
}

.svg-icon_zoom-out_alt-dims {
	width: 32.134px;
	height: 32.134px;
}

.svg-left-shapes-dims {
	width: 28px;
	height: 15px;
}

.svg-right-shapes-dims {
	width: 28px;
	height: 15px;
}

.svg-scroll-icon-dims {
	width: 58px;
	height: 57px;
}

.svg-search-dims {
	width: 17px;
	height: 18px;
}

.svg-social_blogger-dims {
	width: 32px;
	height: 32px;
}

.svg-social_blogger_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_blogger_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_delicious-dims {
	width: 32px;
	height: 32px;
}

.svg-social_delicious_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_delicious_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_deviantart-dims {
	width: 32.556px;
	height: 32px;
}

.svg-social_deviantart_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_deviantart_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_dribbble-dims {
	width: 32px;
	height: 32px;
}

.svg-social_dribbble_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_dribbble_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_facebook-dims {
	width: 32px;
	height: 32px;
}

.svg-social_facebook_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_facebook_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_flickr-dims {
	width: 32px;
	height: 32px;
}

.svg-social_flickr_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_flickr_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_googledrive-dims {
	width: 32px;
	height: 32px;
}

.svg-social_googledrive_alt2-dims {
	width: 32px;
	height: 32px;
}

.svg-social_googledrive_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_googleplus-dims {
	width: 32px;
	height: 32px;
}

.svg-social_googleplus_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_googleplus_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_instagram-dims {
	width: 32px;
	height: 32px;
}

.svg-social_instagram_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_instagram_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_linkedin-dims {
	width: 32px;
	height: 32px;
}

.svg-social_linkedin_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_linkedin_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_myspace-dims {
	width: 32px;
	height: 32px;
}

.svg-social_myspace_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_myspace_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_picassa-dims {
	width: 32px;
	height: 32px;
}

.svg-social_picassa_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_picassa_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_pinterest-dims {
	width: 32px;
	height: 32.646px;
}

.svg-social_pinterest_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_pinterest_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_rss-dims {
	width: 32px;
	height: 32px;
}

.svg-social_rss_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_rss_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_share-dims {
	width: 32.002px;
	height: 32px;
}

.svg-social_share_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_share_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_skype-dims {
	width: 32px;
	height: 32px;
}

.svg-social_skype_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_skype_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_spotify-dims {
	width: 32px;
	height: 32px;
}

.svg-social_spotify_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_spotify_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_stumbleupon_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_stumbleupon_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_tumbleupon-dims {
	width: 32px;
	height: 32px;
}

.svg-social_tumblr-dims {
	width: 32px;
	height: 32px;
}

.svg-social_tumblr_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_tumblr_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_twitter-dims {
	width: 32.004px;
	height: 32px;
}

.svg-social_twitter_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_twitter_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_vimeo-dims {
	width: 33.628px;
	height: 32.568px;
}

.svg-social_vimeo_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_vimeo_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_wordpress-dims {
	width: 32px;
	height: 32px;
}

.svg-social_wordpress_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_wordpress_square-dims {
	width: 32px;
	height: 32px;
}

.svg-social_youtube-dims {
	width: 32.184px;
	height: 32px;
}

.svg-social_youtube_circle-dims {
	width: 32px;
	height: 32px;
}

.svg-social_youtube_square-dims {
	width: 32px;
	height: 32px;
}

